// .pagination{

//   // display: inline-block;
//   padding: 5px 12px;
//   margin: 5px;
//   border: 1px solid rgba(255, 77, 0, 0.883);
//   border-radius: 50%;
//   cursor: pointer;
//   color:white;

//   &:hover{
//     background-color: rgba(255, 77, 0, 0.883);
//     color: white;

//   }

//   a{
//     color:rgba(255, 77, 0, 0.883);
//   }
// }

// .active-page{
//   background-color: rgba(255, 77, 0, 0.883);

//   a{
//     color: rgb(255, 255, 255);
//   }
// }

.pagination{
  display: inline-block;
  border: 1px solid rgba(255, 77, 0, 0.883);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  margin: 5px;

  a{
    width: 100%;
    height: 100%;
    display: block;
    color: rgba(255, 77, 0, 0.883);
    padding-top: 6px;
  }

    &:hover{
    background-color: rgba(255, 77, 0, 0.883);
    color: white;
    }
}

.active-page{
  background-color: rgba(255, 77, 0, 0.883);

  a{
    color: rgb(255, 255, 255);
  }
}
